<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../static/styles/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
	<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="../static/assets/Delez.png">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Joemy Portfolio</title>
</head>

<body>
	<!--   *** Website Container Starts ***   -->
	<div class="Website-container">

		<!--   *** Home Section Starts ***   -->
		<section class="home" id="home">

			<!--   === Navbar Starts ===   -->
			<nav class="navbar">
				<div class="logo">
					<img src="../static/assets/joemy-logo.png">
				</div>

				<ul class="nav-links">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#resume">Resume</a></li>
				</ul>

				<a href="#contactForm" class="button-wrapper">
					<button class="btn contact-btn">Contact</button>
				</a>

				<div class="menu-btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
			</nav>
			<!--   === Navbar Ends ===   -->

			<!--   === Hero Starts ===   -->
			<div class="hero">
				<div class="hero-text">
					<h3>Hey, There</h3>
					<h1>I am Joemy Delez</h1>
					<h2>Call Center Professional & Aspiring Web Developer</h2>
					<p>With a strong foundation in customer service and problem-solving, I bring dedication and empathy
						to every interaction. Passionate about technology and exploring web development, I'm committed
						to learning and improving continuously to serve and support clients effectively.</p>
					<button class="btn hire-btn">Hire Me</button>
				</div>

				<div class="hero-image">
					<img src="../static/assets/joemy-hero-img.png">
				</div>
			</div>
			<!--   === Hero Ends ===   -->

		</section>
		<!--   *** Home Section Ends ***   -->

		<!--   *** About Section Starts ***   -->
		<section class="about" id="about">

			<!--   === About Image Starts ===   -->
			<div class="about-image">
				<img src="../static/assets/joemy-about-img.jpg">
				<div class="social-media">
					<a href="https://www.facebook.com/mr.chicksxx" target="_blank"><i
							class="fa-brands fa-facebook-f"></i></a>
					<a href="https://www.linkedin.com/in/delez-joemy-m-541986278/" target="_blank"><i
							class="fa-brands fa-linkedin-in"></i></a>
					<a href="https://www.instagram.com/jom.delez/" target="_blank"><i
							class="fa-brands fa-instagram"></i></a>
					<a href="https://x.com/joemy64131" target="_blank"><i class="fa-brands fa-twitter"></i></a>
				</div>
			</div>
			<!--   === About Image Ends ===   -->

			<!--   === About Description Starts ===   -->
			<div class="about-desc">
				<h3>About Me</h3>
				<h2>Aspiring Web Developer & Skilled Call Center Professional</h2>
				<p>With experience in delivering exceptional customer support and problem-solving, I’m passionate about
					making every client interaction meaningful. My background in call centers has honed my skills in
					effective communication, troubleshooting, and creating positive customer experiences.</p>
				<p>I’m also diving into web development, driven by a strong interest in technology and coding.</p>
				<div class="about-personal-info">
					<div><span>Name:</span><span>Joemy Delez</span></div>
					<div><span>Age:</span><span>23 Years</span></div>
					<div><span>Email:</span><span>delez@gmail.com</span></div>
					<div><span>Hobby:</span><span>Playing Online Games</span></div>
				</div>
				<a href="./resume/RESUME.pdf" download="JOEMY_CV.pdf" target="_blank"><button
						class="btn download-btn">Download CV</button></a>
			</div>
			<!--   === About Description Ends ===   -->

		</section>
		<!--   *** About Section Ends ***   -->
		<!--   *** Resume Section Starts ***   -->
		<section class="resume reusable" id="resume">

			<!--   === Headings Text Starts ===   -->
			<header class="headings">
				<h3>Resume</h3>
				<h1>Education & Experience</h1>
			</header>
			<!--   === Headings Text Ends ===   -->

			<!--   === Resume Row Starts ===   -->
			<div class="resume-row">

				<!--   === Left Column Starts ===   -->
				<div class="column column-left">
					<header class="sub-heading">
						<h2>EDUCATION</h2>
					</header>

					<main class="resume-contents">
						<div class="box">
							<h4>2021 - Present</h4>
							<h3>Computer Science</h3>
							<p>Gaining hands-on experience in areas such as data structures, object-oriented
								programming, and web application development.</p>
							<h5 class="vanue">Cavite State University</h5>
						</div>

						<div class="box">
							<h4>2018 - 2020</h4>
							<h3>ICT - TVL</h3>
							<p>Gained foundational skills in IT, computer systems, and troubleshooting.</p>
							<h5 class="vanue">SHS in San Nicholas III</h5>
						</div>

						<div class="box">
							<h4>2014 - 2018</h4>
							<h3>JHS Graduate</h3>
							<p>Developed strong academic skills and foundational knowledge that prepared me for my IT
								education.</p>
							<h5 class="vanue">Eastern Bacoor National High School</h5>
						</div>
					</main>
				</div>
				<!--   === Left Column Ends ===   -->

				<!--   === Right Column Starts ===   -->
				<div class="column column-right">
					<header class="sub-heading">
						<h2>EXPERIENCE</h2>
					</header>

					<main class="resume-contents">
						<div class="box">
							<h4>2023- Present</h4>
							<h3>Process Associate</h3>
							<li>Developing debt collection strategies and plans.</li>
							<li>Preventing repeated payment delinquency by negotiating
								manageable debt payments.</li>
							<h5 class="vanue">Genpact - Alabang</h5>
						</div>

						<div class="box">
							<h4>March 2022 - May 2022</h4>
							<h3>Sales Demo</h3>
							<li>Developed strong, honest and open customer relationships by
								presenting informational sales presentations to potential customers.</li>
							<h5 class="vanue">Executive Genesis Services, Inc.</h5>
						</div>

						<div class="box">
							<h4>June 2021 - November 2021</h4>
							<h3>Marketing Manager & Specialist</h3>
							<li>Responsible for packaging items into paper, plastic, or reusable bags
								at checkout lanes in retail and grocery stores.</li>
							<li>Work in tandem with the cashier to efficiently bag all purchases.</li>
							<h5 class="vanue">Super Shopping Market Inc.</h5>
						</div>
					</main>
				</div>
				<!--   === Right Column Ends ===   -->

			</div>
			<!--   === Resume Row Ends ===   -->
		</section>
		<!--   *** Contact Section Starts ***   -->
		<section class="contact-form" id="contactForm">
			<form action="https://formspree.io/f/xgveyovw" method="POST">
				<div class="contact-row">

					<!--   === Left Column Starts ===   -->
					<div class="contact-col column-1">
						<div class="contactTitle">
							<h2>Get In Touch</h2>
							<p>Let's connect! I'm here to answer your questions, discuss opportunities, or simply chat
								about
								tech and customer support.</p>
						</div>

						<div class="form-1">
							<div class="inputGroup">
								<input type="text" name="name" id="name" required="required">
								<label>Your Name</label>
							</div>

							<div class="inputGroup">
								<input type="email" name="email" id="email" required="required">
								<label>Email</label>
							</div>
						</div>

						<div class="contactSocialMedia">
							<a href="https://www.facebook.com/mr.chicksxx" target="_blank"><i
									class="fa-brands fa-facebook-f"></i></a>
							<a href="https://www.instagram.com/jom.delez/" target="_blank"><i
									class="fa-brands fa-twitter"></i></a>
							<a href="https://x.com/joemy64131" target="_blank"><i
									class="fa-brands fa-instagram"></i></a>
							<a href="https://www.linkedin.com/in/delez-joemy-m-541986278/" target="_blank"><i
									class="fa-brands fa-linkedin-in"></i></a>
						</div>
					</div>
					<!--   === Left Column Ends ===   -->

					<!--   === Right Column Starts ===   -->
					<div class="contact-col column-2">
						<div class="form-2">
							<div class="inputGroup">
								<textarea name="message" id="message" required="required"></textarea>
								<label>Say Something</label>
							</div>
							<button type="submit" class="form-button">MESSAGE ME</button>
						</div>
					</div>
					<!--   === Right Column Ends ===   -->

				</div>
			</form>
		</section>
		<!--   *** Contact Section Ends ***   -->

		<!--   *** Footer Section Starts ***   -->
		<section class="page-footer">

			<footer class="footer-contents">
				<a href="#">Joemy</a>
				<p>Created by <span>Joemy Delez</span> | All rights reserved.</p>
			</footer>

		</section>
		<!--   *** Footer Section Ends ***   -->



	</div>
	<!--   *** Website Container Ends ***   -->

	<script type="text/javascript" src="../static/js/script.js"></script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://smtpjs.com/v3/smtp.js"></script>
</body>


</html>